<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyAppAutomationSuit">
  <listeners>
	  <listener class-name="com.myapplication.listeners.MyApplicationsAllListeners" />
  </listeners>
  
  <test name="MyAppAutomation Tests">
    <classes>  
      	
		
		<class name="SeleniumVersion4.SeleniumPractice.ProductSearchTest"/>
		
			  
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
